DATABASE_URL=postgres://user:password@host/dbname
GITHUB_USERNAME=your_github_username
GITHUB_TOKEN=your_github_token
PORT=3001
SESSION_SECRET=your_session_secret_here
ADMIN_USERNAME=your_admin_username
ADMIN_PASSWORD=your_admin_password
REDIS_URL=redis://localhost:6379